.favContainer {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 599px) {
    width: unset;
  }
}

.favItem {
  border-radius: 38px 38px 38px 38px;
  margin: 1rem;
  text-overflow: clip;
  display: grid;
  grid-column: span 3;
  justify-self: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  background-color: #fadc60;
  color: #fd6f71;
  border: 5px double #fd6f71;
  cursor: pointer;
  z-index: 2;
}

.removeFav {
  font-size: 2rem;
  border-color: transparent;
  text-align: center;
  background-color: transparent;
  color: #eee;
  position: relative;
  left: -60px;
  transition: left 500ms, color 300ms;
  display: flex;
  align-items: center;
  // width: 50px;
}

.removeFav:hover {
  color: #fd6f71;
  // &::after {
  //   content: "Delete";
  //   font-size: 1rem;
  //   margin-left: 0.5rem;
  // }
}
.searchFav {
  font-size: 2rem;
  border-color: transparent;
  text-align: center;
  background-color: transparent;
  color: #fadc60;
  position: relative;
  left: 60px;
  right: 400px;
  transition: left 500ms, color 300ms;
  display: flex;
  align-items: center;
  width: 50px;
}

.searchFav:hover {
  color: #fd6f71;
}

.favContainer:hover > .removeFav {
  left: 0;
}
.favContainer:hover > .searchFav {
  left: 0;
}

.card-body {
  width: 200px;
}
