.layout2 {
  height: 100vh;
  background: rgb(0, 191, 255);
  background-image: linear-gradient(
    to right top,
    #00bfff,
    #1dc3fe,
    #2dc6fd,
    #3acafc,
    #46cdfb
  );
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  @media screen and (max-width: 599px) {
    margin-top: 9rem;
  }
}

.remove {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
