.navbar {
  border-radius: 80px !important;
  top: 5px;
  width: 90%;
  left: 4.5%;
  background-color: transparent !important;
  position: fixed;
  z-index: 2;
  font-size: 1.2rem;
}

a.link {
  margin-right: 10px;
  text-decoration: none;
  transition: 300ms;
  color: #fff !important;
}
a.link:hover {
  color: #fadc60 !important;
}

.btn-outline-primary {
  color: #000000;
  border-color: #fd6f71;
  border-radius: 80px;
  background-color: #fadc60;
  border: 2px solid;
  padding: 10px;
}

.btn-outline-primary:hover {
  background-color: #fadc60;
  border-color: #fd6f71;
}

.btn-outline-primary:active {
  background-color: #fadc60 !important;
  border-color: #fd6f71 !important;
  color: #fd6f71 !important;
}

.sun_icon {
  height: 80px;
  margin-right: 1rem;
}

.navbar-brand {
  padding-bottom: 0;
}

.brand-name {
  font-size: 1.5rem;
  font-family: "Lobster", cursive;
  color: #fadc60;
  font-weight: lighter;
  font-weight: 400;
  margin-top: 4rem;
  text-shadow: 0px 3px 0px #fd6f71;
}

.mr-sm-2::grammar-error {
  background-color: green;
}

@media screen and (max-width: 599px) {
  .navbar {
    background-color: rgb(0, 123, 255) !important;
  }
  input.mr-sm-2.form-control {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .navbar-collapse {
    width: 50%;
    flex-basis: unset;
    flex-grow: unset;
  }
}

.alert {
  font-size: 1.2rem;
  position: absolute;
  top: 60px;
  right: 85px;
  color: red;
  animation: blink 1s infinite;
}
.alert2 {
  color: #fd6f71;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
  height: 10px;
  width: 50%;
  animation: blink 1.5s infinite;
}

.dark-mode {
  margin: 1rem;
  padding: 0;
  top: 90px;
  position: absolute;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
