body,
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.layout {
  height: 100%;
  background: rgb(0, 191, 255);
  background-image: linear-gradient(
    to right top,
    #00bfff,
    #1dc3fe,
    #2dc6fd,
    #3acafc,
    #46cdfb
  );
}

.top-div {
  top: 0;
  height: 50%;
  width: 100%;
}

.top-div2 {
  top: 0;
  height: 100vh;
  width: 100%;
}
.bottom-div {
  bottom: 0;
  height: 50%;
  width: 100%;
}
